# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
*.iml

# IntelliJ related
*.ipr
*.iws
.idea/

# The .vscode folder contains settings for Visual Studio Code users for this project.
.vscode/

# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android-related
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS-related
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/info.plist
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/

# Web-related

# Others
.mountmap
.mountflow
